div.imgFundoContato {
	background-color: #121212;
}

section.secContato {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}

section.pessoas {
	align-items: center;
	background-color: #5E5E5E;
	border-radius: 16px;
	display: flex;
	height: 32vh;
	margin: 0 3vw;
	padding: 0 40px;
}

img.imgContato {
	border: 1px solid #000;
	border-radius: 16px;
	box-shadow: 0px 0px 16px #00000055;
	height: 16vw;
	margin-right: 24px;
	width: 16vw;
}

h1.nomeContato {
	color: #e9e9e9;
	font-size: 2.2rem;
	text-shadow: 1px 1px 4px #000;
}

h2.setorContato {
	color: #ccc;
	font-size: 1.7rem;
	margin-top: 4px;
}

ul.redesSociaisContato {
	display: flex;
	font-size: 1.5rem;
	justify-content: space-between;
	list-style: none;
	width: 256px;
}

ul.redesSociaisContato li {
	align-items: center;
	display: flex;
	margin-top: 16px;
	width: 120px;
}

ul.redesSociaisContato span {
	align-items: center;
	border-radius: 8px;
	box-shadow: 0px 0px 8px #00000055;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 8px;
	padding: 6px;
}

ul.redesSociaisContato span.spanGmail {
	background-color: #c03c2f;
}

ul.redesSociaisContato span.spanFace {
	background-color: #1877f2;
}

ul.redesSociaisContato span.spanInsta {
	background-color: #ec5cbe;
}

ul.redesSociaisContato span.spanWhats {
	background-color: #00e676;
}

ul.redesSociaisContato span.spanGithub {
	background-color: #24292d;
}

ul.redesSociaisContato span.spanLinkedin {
	background-color: #1877f2;
}

ul.redesSociaisContato a {
	align-items: center;
	color: #eee;
	display: flex;
	font-size: 1.7rem;
	font-weight: bold;
	text-decoration: none;
}

ul.redesSociaisContato a:hover {
	background-color: #555;
}