section.secContato {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	position: relative;
}

section.secContato section.contatoPessoa {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 72px;
}

section.secContato div.conteudoContato {
	align-items: center;
	background-color: #252525;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	height: 296px;
	justify-content: space-between;
	padding: 32px 0;
	position: sticky;
	width: 512px;
	z-index: 1;
}

section.secContato div.decoracaoContato {
	border-radius: 8px;
	height: 232px;
	position: absolute;
	width: 424px;
}

section.secContato div.decoracaoContato#corContatoVermelha {
	border: 1px solid #e41325;
	margin-top: -104px;
}

section.secContato div.decoracaoContato#corContatoDourada {
	border: 1px solid #ffc32c;
	margin-top: 32px;
}

section.secContato div.decoracaoContato#corContatoAzul {
	border: 1px solid #4396df;
	margin-top: 104px;
}

section.secContato section.contatoPessoa#programador div.decoracaoContato#corContatoVermelha {
	margin-left: 200px;
}

section.secContato section.contatoPessoa#programador div.decoracaoContato#corContatoDourada {
	margin-left: -200px;
}

section.secContato section.contatoPessoa#designer div.decoracaoContato#corContatoVermelha {
	margin-left: -200px;
}

section.secContato section.contatoPessoa#designer div.decoracaoContato#corContatoDourada {
	margin-left: 200px;
}

section.secContato div.conteudoContato>div {
	align-items: center;
	display: flex;
}

section.secContato div.conteudoContato>div>img {
	border: 1px solid #e5e5e5;
	border-radius: 50px;
	height: 80px;
	margin-right: 16px;
	width: 80px;
}

section.secContato h1.nomeContato {
	color: #e9e9e9;
	font: normal 24px 'Oswald', sans-serif;
}

section.secContato h2.setorContato {
	color: #c3c3c3;
	font: normal 16px 'Oswald', sans-serif;
}

section.secContato ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	width: 500px;
}

section.secContato ul div {
	display: flex;
	justify-content: space-evenly;
}

section.secContato ul div:first-child {
	margin-bottom: 32px;
}

section.secContato ul li {
	width: 104px;
}

section.secContato ul a {
	align-items: center;
	color: #c3c3c3;
	display: flex;
	font: normal 16px 'Oswald';
}

section.secContato ul a span>svg {
	transition: fill 0.01s
}

section.secContato ul a:hover span.spanFace>svg {
	fill: #1877f2;
}

section.secContato ul a:hover span.spanGithub>svg {
	fill: #000;
}

section.secContato ul a:hover span.spanLinkedin>svg {
	fill: #1877f2;
}

section.secContato ul a:hover span.spanInsta>svg {
	fill: #ec5cbe;
}

section.secContato ul a:hover span.spanWhats>svg {
	fill: #00e676;
}

section.secContato ul span {
	align-items: center;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 8px;
}

@media only screen and (max-width: 1416px) {
	section.secContato section.contatoPessoa {
		margin: 0 56px;
	}
	
	section.secContato div.conteudoContato {
		width: 416px;
	}
	
	section.secContato div.decoracaoContato {
		width: 344px;
	}
		
	section.secContato div.decoracaoContato#corContatoVermelha {
		margin-top: -64px;
	}
	
	section.secContato section.contatoPessoa#programador div.decoracaoContato#corContatoVermelha {
		margin-left: 120px;
	}
	
	section.secContato section.contatoPessoa#programador div.decoracaoContato#corContatoDourada {
		margin-left: -144px;
	}
	
	section.secContato section.contatoPessoa#designer div.decoracaoContato#corContatoVermelha {
		margin-left: -120px;
	}
	
	section.secContato section.contatoPessoa#designer div.decoracaoContato#corContatoDourada {
		margin-left: 144px;
	}
	
	section.secContato ul {
		width: 400px;
	}
}