header.cabecalho {
	align-items: center;
	display: flex;
	justify-content: space-between;
	height: 80px;
	margin-bottom: -80px;
	width: 100%;
}

header.cabecalho div {
	align-items: center;
	cursor: pointer;
	display: flex;
	margin-left: 16px;
}

header.cabecalho img.logo {
	height: 64px;
	width: 56px;
}

header.cabecalho h1.tituloPSCJ {
	font: normal 40px 'Cormorant Garamond', serif;
	margin-left: 8px;
}

header.cabecalho h2.tituloLocal {
	cursor: default;
	font: normal 32px 'Cormorant Garamond', serif;
	margin-right: 24px;
}

section.secHome {
	align-items: center;
	background-color: #121212;
	cursor: default;
	display: flex;
	height: 100vh;
	justify-content: center;
}

h1.tituloSSCJ {
	font: normal 144px 'Cookie', cursive;
}

div.alinhaHorizontal {
	display: flex;
	width: 72vw;
}

div.alinhaHorizontal>div.alinhaHorizontal {
	margin-top: 112px;
}

div.curiosidade {
	align-items: center;
	background-color: #252525;
	border-radius: 8px;
	display: flex;
	height: 128px;
	justify-content: center;
	margin-right: 24px;
	transform-style: preserve-3d;
	width: 128px;
}

div.curiosidade:hover {
	transform-origin: bottom center;
	transform: rotateX(-90deg) translateY(100%);
}

div.curiosidade#curiosidadeVermelha {
	border: 1px solid #e41325;
}

div.curiosidade#curiosidadeVermelha:after {
	align-items: center;
	background-color: #fff;
	border: 1px solid #e41325;
	border-radius: 8px;
	box-sizing: border-box;
	color: #e41325;
	content: "Desenvolvido para a nossa paróquia";
	display: flex;
	font-family: Oswald;
	font-size: 20px;
	height: 128px;
	padding: 8px;
	position: absolute;
	text-align: center;
	top: -100%;
	transform: rotateX(90deg);
	transform-origin: left bottom;
	width: 128px;
}

div.curiosidade#curiosidadeDourada {
	border: 1px solid #ffc32c;
}

div.curiosidade#curiosidadeDourada:after {
	align-items: center;
	background-color: #fff;
	border: 1px solid #ffc32c;
	border-radius: 8px;
	box-sizing: border-box;
	color: #ffc32c;
	content: "Focado em celebrações mais seguras";
	display: flex;
	font-family: Oswald;
	font-size: 20px;
	height: 128px;
	padding: 8px;
	position: absolute;
	text-align: center;
	top: -100%;
	transform: rotateX(90deg);
	transform-origin: left bottom;
	width: 128px;
}

div.curiosidade#curiosidadeAzul {
	border: 1px solid #4396df;
}

div.curiosidade#curiosidadeAzul:after {
	align-items: center;
	background-color: #fff;
	border: 1px solid #4396df;
	border-radius: 8px;
	box-sizing: border-box;
	color: #4396df;
	content: "Criado para auxiliar a Pascom";
	display: flex;
	font-family: Oswald;
	font-size: 20px;
	height: 128px;
	padding: 8px;
	position: absolute;
	text-align: center;
	top: -100%;
	transform: rotateX(90deg);
	transform-origin: left bottom;
	width: 128px;
}

div.imagemDecorada {
	margin-left: 48px;
	margin-top: -232px;
}

div.imagemDecorada img {
	border-radius: 8px;
	margin-left: 56px;
	margin-top: 64px;
	width: 608px;
}

div.decoracaoImagem {
	border-radius: 8px;
	height: 256px;
	width: 560px;
}

div.decoracaoImagem#decoracaoImgVermelha {
	border: 1px solid #e41325;
	margin-left: 144px;
	margin-top: -400px;
}

div.decoracaoImagem#decoracaoImgDourada {
	border: 1px solid #ffc32c;
	margin-top: -144px;
}

div.decoracaoImagem#decoracaoImgAzul {
	border: 1px solid #4396df;
	margin-left: 80px;
	margin-top: -200px;
}

section.secBotoes {
	align-items: center;
	background-color: #121212;
	display: flex;
	height: 100vh;
	justify-content: center;
}

section.secBotoes div.decoracaoBotoes {
	border-radius: 8px;
	height: 568px;
	width: 960px;
}

section.secBotoes div.decoracaoBotoes#decoracaoBtnVermelho {
	border: 1px solid #e41325;
	margin-left: 296px;
	margin-top: -40px;
}

section.secBotoes div.decoracaoBotoes#decoracaoBtnDourado {
	border: 1px solid #ffc32c;
	margin-top: -416px;
}

section.secBotoes div.decoracaoBotoes#decoracaoBtnAzul {
	border: 1px solid #4396df;
	margin-left: 144px;
	margin-top: -440px;
}

section.secBotoes div.conteudoBotoes {
	background-color: #252525;
	height: 736px;
	margin-left: 48px;
	margin-top: -776px;
	padding-top: 16px;
	width: 1160px;
}

section.secBotoes h1.tituloBotoes {
	font: normal 96px 'Oswald';
	margin-left: 56px;
}

section.secBotoes div.alinhaDireita {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	margin-top: -48px;
}

section.secBotoes div.alinhaDireita div.mensagensBotoes {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-right: 112px;
	position: relative;
}

section.secBotoes div.descricaoBotao {
	font: normal 24px 'Shadows Into Light Two', cursive;
	letter-spacing: 2px;
	line-height: 32px;
}

section.secBotoes div.descricaoBotao#txtAlinhadoDireita {
	margin-bottom: 32px;
	margin-right: -16px;
	text-align: end;
}

section.secBotoes img.flechaLoop {
	position: absolute;
	right: 0;
	top: 16px;
}

section.secBotoes nav {
	display: flex;
	flex-direction: column;
	height: 128px;
	justify-content: space-between;
	margin: 16px 0;
	width: 312px;
}

a.btnsNavegacao {
	align-items: center;
	border: 2px solid #ffc32c;
	border-radius: 4px;
	color: #ffc32c;
	display: flex;
	font: normal 24px 'Roboto';
	height: 48px;
	justify-content: center;
	padding: 16px 0;
	width: 312px;
}

a.btnsNavegacao:hover {
	background-color: #ffc32c;
	color: #252525;
}

section.secBotoes div.descricaoBotao#txtcoladoDireita {
	margin-left: 152px;
	margin-top: 32px;
}

section.secBotoes img.flechaCurva {
	left: 16px;
	position: absolute;
	top: 216px;
}

section.cronograma {
	align-items: center;
	background-color: #df0505a1;
	cursor: default;
	display: flex;
	flex-direction: column;
	padding-bottom: 8vh;
	text-align: center;
}

h1.proximasMissas {
	background-color: #3e0001;
	border-radius: 5px;
	font-family: 'Cinzel', serif;
	font-size: 2rem;
	margin: 14vh 0 8vh 0;
	padding: 8px;
	text-align: center;
}

div.gridMissas {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	width: 90%;
}

div.detalhesMissa {
	align-items: center;
	background-image: url('../../assets/fundoDetalhes.webp');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	height: 28vh;
}

h1.tituloMissa {
	font-family: 'Merriweather', serif;
	font-size: 3rem;
	margin-top: 8vh;
}

h2.subTituloMissa {
	color: #ddd;
	font-family: 'Cinzel', serif;
	font-size: 1.2rem;
	margin-top: 15px;
	max-width: 40ch;
}

div.detalhesMissa:hover h1 {
	transform: scale(1.2);
}

div.detalhesMissa:hover h2 {
	transform: scale(1.1);
}

@media (min-width:1750px) {
	html {
		font-size: 90%;
	}
	
	div.gridMissas {
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	}
	
	h1.tituloMissa {
		margin-top: 9vh;
	}
}