section.secListaMissas {
	align-items: center;
	background-color: #121212;
	display: flex;
	height: 100vh;
	flex-direction: column;
}

section.secListaMissas div.headerLista {
	display: flex;
	margin-bottom: 8px;
	margin-top: 64px;
	width: 1320px
}

section.secListaMissas div.headerLista h3 {
	color: #c3c3c3;
	font: normal 24px 'Roboto', sans-serif;
	margin-right: 32px;
}

section.secListaMissas div.headerLista h3:first-child {
	margin-left: 112px;
	margin-right: 474px;
}

section.secListaMissas div.missa {
	align-items: center;
	background-color: #252525;
	border-radius: 8px;
	display: flex;
	height: 96px;
	margin-bottom: 24px;
	width: 1320px
}

section.secListaMissas div.missa:hover {
	background-color: #353535;
}

section.secListaMissas div.missa>img {
	border-radius: 100px;
	height: 64px;
	margin: 0 24px;
	object-fit: cover;
	width: 64px;
}

section.secListaMissas div.missa h1 {
	font: normal 32px 'Cormorant Garamond', serif;
}

section.secListaMissas div.missa hr {
	height: 74px;
	margin: 0 45px;
}

section.secListaMissas div.missa h3 {
	font: normal 24px 'Merriweather';
	margin: 0 16px;
}

section.secListaMissas div.missa div {
	align-items: center;
	border-radius: 8px;
	display: flex;
	height: 48px;
	justify-content: center;
	width: 48px
}

section.secListaMissas div.missa div.iconEditar:hover {
	background-color: #4396dfcc;
}

section.secListaMissas div.missa div.iconExcluir {
	margin: 0 16px;
}

section.secListaMissas div.missa div.iconExcluir:hover {
	background-color: #E41325cc;
}

section.secListaMissas div.missa div.iconDetalhes:hover {
	background-color: #747474;
}