section.secListaMissas {
	align-items: center;
	background-color: #121212;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

section.secListaMissas div.headerLista {
	display: flex;
	margin-bottom: 16px;
	margin-top: 88px;
	width: 1320px
}

section.secListaMissas div.headerLista h3 {
	color: #c3c3c3;
	font: normal 24px 'Roboto', sans-serif;
}

section.secListaMissas div.headerLista>h3:first-child {
	padding-left: 112px;
	margin: 0;
	width: 584px;
}

section.secListaMissas div.headerLista div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 0 16px;
	text-align: center;
	width: 556px;
}

section.secListaMissas a.missa {
	align-items: center;
	background-color: #252525;
	border-radius: 8px;
	cursor: default;
	display: flex;
	height: 96px;
	margin-bottom: 24px;
	transition: background-color 0.2s;
}

section.secListaMissas a.missa:hover {
	background-color: #353535;
}

section.secListaMissas a.missa div.imagemNomeMissa {
	align-items: center;
	display: flex;
	width: 568px;
}

section.secListaMissas a.missa div.imagemNomeMissa>img {
	border-radius: 100%;
	height: 64px;
	margin: 0 24px;
	object-fit: cover;
	width: 64px;
}

section.secListaMissas a.missa div.imagemNomeMissa h1 {
	font: normal 32px 'Cormorant Garamond', serif;
}

section.secListaMissas a.missa hr {
	height: 74px;
	margin: 0 16px;
}

section.secListaMissas a.missa div.dadosMissa {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 524px;
}

section.secListaMissas a.missa div.dadosMissa h3 {
	font: normal 24px 'Merriweather';
	text-align: center;
}

section.secListaMissas a.missa div.btnsMissa {
	display: flex;
	justify-content: center;
	margin-left: -16px;
	width: 176px;
}

section.secListaMissas a.missa div.btnsMissa a,
section.secListaMissas a.missa div.btnsMissa div {
	align-items: center;
	border-radius: 8px;
	display: flex;
	height: 48px;
	justify-content: center;
	transition: background-color 0.4s;
	width: 48px
}

section.secListaMissas a.missa div.btnsMissa a.btnEditar:hover {
	background-color: #4396dfcc;
}

section.secListaMissas a.missa div.btnsMissa div.btnExcluir {
	margin: 0 8px;
}

section.secListaMissas a.missa div.btnsMissa div.btnExcluir:hover {
	background-color: #E41325cc;
	cursor: pointer;
}

section.secListaMissas a.missa div.btnsMissa a.btnDetalhes:hover {
	background-color: #747474;
}